<% cfs_options = @settings[:choosed_cf]

   cfs_opt = Array.new
   cfs = CustomField.where(type: "ProjectCustomField")
   if cfs_options and cfs_options.present?
     cfs_options= cfs_options.split('|')

     cfs_options.each do |cf_id|
       cf = cfs.select{|c| "#{c.id}" == "#{cf_id}" }
       cfs_opt<< cf
       cfs = cfs.reject{|c| "#{c.id}" == "#{cf_id}" }
     end
   end

   cfs_opt.flatten!
   %>

<style>
    h1 { padding: .2em; margin: 0; }

    .cart { width: 45%;  margin-top: 1em; }
    /* style the list to maximize the droppable hitarea */
    .cart ol { margin: 0; padding: 1em 0 1em 3em; }
    .cart ol li{ font-weight: bold;}
    .selected {float: right;}
    .non_selected {float: left;}
    .delete_cf {float: right; cursor: pointer;  color:#0066DD;}
    .settings { overflow: hidden;}

    #sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
    #sortable li { margin: 0 5px 5px 5px; padding: 5px; font-size: 1.2em; height: 1.5em; }
    html>body #sortable li { height: 1.5em; line-height: 1.2em; }
</style>
<script>
    $(function() {
       $( ".cart li" ).draggable({
            appendTo: "body",
            helper: "clone"
        });
        $( ".cart ol" ).droppable({
            activeClass: "ui-state-default",
            hoverClass: "ui-state-hover",
            accept: ":not(.ui-sortable-helper)",
            drop: function( event, ui ) {
                $( this ).find( ".placeholder" ).remove();
                id = ui.draggable.attr('id');
                if(ui.draggable.attr('class').contains('cf_objects_non_selected'))
                {

                    $( "<li class='cf_objects_selected' id="+id+" ></li>" ).append( ui.draggable.text() ).appendTo( this );

                }
                else
                {

                    $( "<li class='cf_objects_non_selected' id="+id+" ></li>" ).append( ui.draggable.text() ).appendTo( this );


                }
                ui.draggable.remove();
                $( ".cart li" ).draggable({
                    appendTo: "body",
                    helper: "clone"
                });
                children = $('.list_cf_selected').children('li');
                arr= [];
                for(var i=0;i<children.length;i++){
                    arr.push (children.eq(i).attr('id'))
                }

                $("#choosed_cf").children('input').val(arr.toString().replace(',','|'));
                $(".list_cf_non_selected").children("#"+id).remove();
            }

    }).sortable({
            items: "li:not(.placeholder)",
            sort: function() {
// gets added unintentionally by droppable interacting with sortable
// using connectWithSortable fixes this, but doesn't allow you to customize active/hoverClass options
                $( this ).removeClass( "ui-state-default" );
            }
        });
    });
</script>
<div style="background-color: #F6F6F6;">

  <div class="cart non_selected">
    <h1 class="ui-widget-header">NON Selected CF</h1>
    <div class="ui-widget-content">
      <ol >
        <% if cfs_opt.blank? %>
            <li class="placeholder">Add your items here</li>
        <% end %>
        <% cfs.each do |cf| %>
            <li class="cf_objects_non_selected" id="<%= cf.id %>" >
              <%= cf.name %>
            </li>
        <% end %>
      </ol>
    </div>
  </div>
<div class="cart selected">
  <h1 class="ui-widget-header">Selected CF</h1>
  <div class="ui-widget-content">
    <ol class="list_cf_selected">
      <% if cfs_opt.blank? %>
         <li class="placeholder">Add your items here</li>
      <% end %>
      <% cfs_opt.each do |cf| %>
          <li class="cf_objects_selected" id="<%= cf.id %>">
           <%= cf.name %>
          </li>
      <% end %>
    </ol>
  </div>
</div>
<div id="choosed_cf">
  <%= hidden_field_tag "settings[choosed_cf]", @settings[:choosed_cf] %>
</div>
</div>